<%- include('partials/header.ejs') %>

    <div class="text-center my-5">
        <h1>Welcome to Quiz Management</h1>
        <p class="lead">Use the menu to manage quizzes and questions.</p>
        <a href="/quizzes" class="btn btn-primary">Manage Quizzes</a>
        <a href="/questions" class="btn btn-secondary">Manage Questions</a>
    </div>

<%- include('partials/footer.ejs') %>